<a href="https://colab.research.google.com/github/CallineKelly/Data-visualization/blob/main/lambda_func.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda Function / Anonymous Functions
- every short function only run in 1 line code

In [2]:
def cube(x):
  return x * x * x

print(cube(3))

27

In [4]:
cube_lambda = lambda x: x * x * x

print(cube_lambda(4))

64

In [7]:
def add(x, y):
  return x + y

add_lambda = lambda x, y: x + y

print(add_lambda(3, 21))

24

In [9]:
def compare(x,y):
  if x > y:
    return x
  else:
    return y
print(compare(7,23))

23

In [15]:
larger_lambda = lambda x, y: x if x > y else y

print(larger_lambda(8, 9))

9

currency exchange

In [18]:
def cx_rate(rate):

    def convert(currency):
      return currency * rate

    return convert

usd_myr = cx_rate(4.3) # define 4.3 into 'rate'
print(usd_myr(200)) #'currency' = 200

860.0

In [20]:
def cx_rate(rate):
   return lambda currency: currency * rate

sgd_myr = cx_rate(3.5)
print(sgd_myr(150))

525.0

In [21]:
# sort name based on the length
names = ['Calline','Nora','Stella','Addison']
names.sort(key=lambda x: len(x))
print(names)

['Nora', 'Stella', 'Calline', 'Addison']

In [24]:
def name_length(name):
  return len(name)

new_names = ['Kinsley','Lila','Kaylee']
new_names.sort(key=name_length)
print(new_names)

['Lila', 'Kaylee', 'Kinsley']